@font-face {
  font-family: "kingthings";
  src: url('https://assets.trakteer.id/fonts/kingthings_clarity1.1-webfont.eot');
  src: url('https://assets.trakteer.id/fonts/kingthings_clarity1.1-webfont.eot') format("embedded-opentype"), 
      url('https://assets.trakteer.id/fonts/kingthings_clarity1.1-webfont.svg') format("svg"), 
      url('https://assets.trakteer.id/fonts/kingthings_clarity1.1-webfont.woff2') format("woff2"), 
      url('https://assets.trakteer.id/fonts/kingthings_clarity1.1-webfont.woff') format("woff"), 
      url('https://assets.trakteer.id/fonts/kingthings_clarity1.1-webfont.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.theme-retro.container {
  margin-top: 20px;
  display: none;                                                                                          
  transition: opacity 0.5s;
  flex-direction: column;
  align-items: flex-start;
}

.theme-retro .stream-content {
  font-family: var(--retroFontFamily);
  position: relative;

  animation: fadeIn 0.25s linear;
  animation-iteration-count: 1;

  margin-top: -10px;
  padding: 20px 5px 20px 5px;
  background: var(--retroStreamContentBg);
  color: var(--retroStreamContentColor);
  box-shadow: 8px 8px 0px var(--retroStreamContentBoxBorder);
  min-width: 100%;
  max-width: 100%;
  text-align: center;
  font-size: 20px;
  border: 2px solid var(--retroStreamContentBoxBorder);
  border-radius: 3px;
  box-sizing: border-box;
}

.theme-retro .media {
  display: none;
  margin-bottom: 25px;
  width: 100%;
}

.theme-retro .supporter-name, 
.theme-retro .quantity, 
.theme-retro .action {
  margin-right: 3px;
}

.theme-retro .supporter-name, 
.theme-retro .quantity, 
.theme-retro .unit-name {
  color: var(--retroSupportColor);
}
.theme-retro .unit-name {
  word-break: break-word;
}

.theme-retro .action {
  color: var(--retroActionColor);
}

.theme-retro .heading,
.theme-retro .support-message {
  padding-left: 15px;
  padding-right: 15px;
}
.theme-retro .support-message {
  margin-top: 15px;
  font-size: 16px;
  word-break: break-word;
}
.theme-retro .support-message:empty {
  display: none;
}

.theme-retro .player,
.theme-retro .animation {
  width: 410px;
  height: 230px;
}
.theme-retro .animation iframe,
.theme-retro .player iframe {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.theme-retro .player:empty,
.theme-retro .animation:empty {
  display: none;
}

/* Variant */
.theme-retro.is-media .media {
  display: flex;
  justify-content: center;
}

/* Animation */
@keyframes fadeIn { 0% { opacity: 0; } 100% { opacity: 1; } }
